@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: hsl(210, 46%, 95%);
  height: 100%;
  font-family: 'Manrope';
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.main-container{
    width: 350px;
    min-height: 40%;
    /*border: 2px solid red; */
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    margin-right: 0%;
    
   
}

.page-image{
    width: 350px;
    height:240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-section{
   margin-top: 5%;
}

h4{
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    padding: 15px 50px 15px 35px;
}

#body-text{
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 500;
    color:hsl(212, 23%, 69%);
    padding: 10px 40px 10px 35px;
    margin-top: -5px;
    text-align: left;
    line-height: 20px;

}

.footer-section{
    width: 350px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid blue;  */
    margin-top: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.footer-image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px 0px 0 35px; 
    
}

.contact-info{
    width: 60%;
    height: 60px;
    margin: -40px 0px 0px 90px;
    /* border: 2px solid red; */
}

h5{
    font-weight: 800;
    font-size: 14px;
    color: hsl(217, 19%, 35%);
}

#date{
    font-size: 13px;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
    line-height: 25px;
}

.icon-circle{
    width: 35px;
    height: 35px;
    background-color: hsl(210, 46%, 95%);
    /* border: 3px solid blue; */
    margin-top: -55px;
    margin-left: 280px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#image-icon{
    width: 15px;
    height: 15px;
     margin: 9px;
} 

/* CREATED AN HOVER EFFECT */

.pop-up{
    width: 400px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


 .footer-section:hover{
    background-color: hsl(217, 19%, 35%);
} 

/* MEDIA QUEY STARTS HERE */

@media screen and (min-width: 480px) {
    body{
        height: 100%;
        font-family: 'Manrope';
        background-color: hsl(210, 46%, 95%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15%;

      }
      
    .main-container{
        width: 680px;
        /* border: 2px solid red; */
        display: flex;
        flex-flow: wrap;
        /* flex-direction: row; */
        align-items: center;
        justify-content: left;
        background-color: white;
        border-radius: 10px;
       
    } 

    .page-image{
        width: 295px;
        max-height: 22rem;
        margin-right: 10px; 
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;


    }

    .content-section{
        width: 340px;
        height: 150px;
        /* border: 2px solid green; */
        /* margin-left: 20px; */
        margin-top: -10%;
     }

     h4{
        font-size: 18px;
        font-family: 'Manrope';
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        padding: 15px 20px 15px 20px;
    }
    
    #body-text{
        font-size: 12px;
        font-family: 'Manrope';
        font-weight: 500;
        color:hsl(212, 23%, 69%);
        padding: 10px 0px 5px 20px;
        margin-top: -8px;
        text-align: left;
        line-height: 18px;
    
    }

    .footer-section{
        width: 360px;
        height: 45px;
        display: flex;
        flex-wrap: wrap;
        /* border: 2px solid blue;    */
        margin-top: -80px;
        margin-left: 310px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .footer-image{
        width: 35px;
        height: 35px;
        border-radius: 50px;
        margin: 5px 0px 0 20px; 
        
    }
    
    .contact-info{
        width: 60%;
        height: 60px;
        margin: 5px 0px 0px 20px;
        /* border: 2px solid red;  */
    }
    
    h5{
        font-weight: 800;
        font-size: 13px;
        color: hsl(217, 19%, 35%);
    }
    
    #date{
        font-size: 12px;
        font-weight: 500;
        color: hsl(212, 23%, 69%);
        line-height: 20px;
    }
    
    .icon-circle{
        width: 32px;
        height: 32px;
        background-color: hsl(210, 46%, 95%);
        /*border: 3px solid blue;*/
        margin-top: -60px;
        margin-left: 300px;
        border-radius: 50px;
        
}
    
    #image-icon{
        width: 15px;
        height: 15px;
         margin: 9px;
    }
}  




   
   
